body {
  background-color: white;
  /* max-width: 800px; */
  max-width: 85%;
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  margin: 40px auto;
  padding: 0 10px;
}

pre {
  font-size: 1.3em;
  color: #fff;
}

h1 {
  font-weight: bold;
  font-size: 1.6em;
  margin-top: 1.5em;
}

hr {
  margin-top: 4em;
  border: none;
  background-color: #d1a1e5;
  color: #555;
  height: 1px;
  width: 75%;
}

img {
  /* margin-top: -0.5em;
  max-width: 100%; */
  width: 100%;
}

video {
  margin-top: -0.5em;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

code {
  background: #222;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}

p.center {
  text-align: center;
}

p.right {
  text-align: right;
}

.button {
  display: inline-block;
  border: 0.1em black solid;
  color: black;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  padding: 4px 10px;
  width: 75px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px 2px;
}

.card_holder {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  &.blog-post {
    height: 450px;
    max-width: 300px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: -10%;
  }

  img {
    order: -1;
    margin: -20px 0 15px -20px;
    width: calc(100% + 40px);
    height: 191px;
    object-fit: cover;
    display: block;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: -10px;
  }

  p {
    opacity: 0.8;
    margin-bottom: 10px;
  }

  .pubdate {
    p {
      position: absolute;
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 0.8em;
    }
  }

}
/* nav menu: */
.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #headLinks {
  display: block;
}

.topnav a {
  float: left;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  /* color: black; */
  text-decoration: underline;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.txtbox {
  width: 48%;
}

.imgbox {
  width: 48%;
  margin-top: 20px;
}

.twoColumns {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}

/* change flow when on mobile */
@media screen and (max-width: 700px) {
  .twoColumns {
    flex-direction: column;
  }
  .txtbox, .imgbox {
    width: 100%;
  }
}